/*GENERAL STYLE*/ 

body, a{
	margin:0%;
	font-family:Arial;
	color:#eeeeee;
	background:hsl(113, 7%, 12%);
}

/*figure out how to fix a href tag*/
a{
	text-decoration: none;
}

header{
	padding:0;
  	background-color:hsl(113, 7%, 12%);
}

section{
	display: flex;
}

nav{
	padding:0;
	background:hsl(111, 7%, 14%);
	flex:1;
}

main{ 
	padding:1%;
	background:hsl(113, 7%, 16%);
  	flex:3;
} 

aside{ 
	padding:1%;
  	background:hsl(113, 7%, 14%);
	flex:1;
}

footer{
	padding:1%;
  	background:hsl(113, 7%, 12%);
}

/*navigation style*/
#headerNavigationDirectory,#sideNavigationDirectory{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
#headerNavigationDirectory li {
	display: inline;
	float: right;
}
#headerNavigationDirectory li:first-child {
	float: left;
}
#headerNavigationDirectory li a, #sideNavigationDirectory li a {
	display:block;
	padding: 14px 16px;
	color:#eeeeee;
	text-decoration: none;
}
#sideNavigationDirectory li a{
	background-color:hsl(113, 7%, 14%) ;
}
#headerNavigationDirectory li a:hover, #sideNavigationDirectory li a:hover{
	background-color:hsl(113, 7%, 10%) ;
}
#headerNavigationDirectory li a:active,#sideNavigationDirectory li a:active{
	background:hsl(113, 7%, 18%);
}

/*schedule style*/

table.schedule{
	width:100%;
	border:thick solid;
	float:center;
	border-collapse: collapse;
}


.schedule td, .schedule th{
	border: thin solid;
}

table, td, th, td.a {
	color:#eeeeee;
	text-decoration: none;
	border: thin solid;
  	float:center;
	border-collapse: collapse;
}
