#body{
		margin:0%;
    font-family:Arial;
		color:white;
    
    
    

}

header{
	padding:1%;
  background:#202225;
	
}

nav{
	padding:1%;
	background:#30362f;
  width:15%;
	float:left;
	
}

article{ 
	padding:1%;
	background:#373F36;
  width:69%;
	float:left;
	
} 

aside{ 
	padding:1%;
  width:10%;
  background:#30362F;
	float:left;
	
}
footer{
	padding:1%;
  background:#202225;
	float:left;
	width:98%;
}












/*buttons*/
/*
a:link, a:visited {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

a:hover{
    background-color: #3e8e41;
}

a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
*/
