body{
		margin:0%;
    font-family:Arial;
		color:white;
    
    
    

}

header{
	padding:1%;
  background:#202225;
	
}

section{
	display: flex;
}
nav{
	padding:1%;
	background:#30362f;
	flex:1;
  
}

main{ 
	padding:1%;
	background:#373F36;
  flex:3;
} 

aside{ 
	padding:1%;
  background:#30362F;
	flex:1;
	
}
footer{
	padding:1%;
  background:#202225;
	
}



a:link, a:visited {
  color: #fff;
  text-decoration: underline;
  cursor: auto;
}

a:link:active, a:visited:active {
  color: red ;
}



table.schedule{
	width:100%;
	border:thick solid;
	float:center;
	border-collapse: collapse;
}


.schedule td, .schedule th{
	border: thin solid;
}








/*buttons*/
/*
a:link, a:visited {
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px #999;
}

a:hover{
    background-color: #3e8e41;
}

a:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
*/
